body {
  background-color: red;
}

#click_me_button {
  background-color: beige;
  font-weight: lighter;
}

button {
  background-color: pink;
  font-weight: bolder;
}

.highlight {
  background-color: yellow;
  color: black;
}

.blue_text {
  color: blue;
}